[submodule "Driver_Concordance"]
	path = Driver_Concordance
	url = https://github.com/shahcompbio/driver-concordance.git
[submodule "hcmi-analysis-califano-lab"]
	path = hcmi-analysis-califano-lab
	url = https://github.com/califano-lab/hcmi-analysis-califano-lab.git
[submodule "HCMI-Explorer-Suite"]
	path = HCMI-Explorer-Suite
	url = https://github.com/human-cancer-model-initiative/HCMI-Explorer-Suite.git
[submodule "pipelines/classify-lab-models-and-tumors"]
	path = pipelines/classify-lab-models-and-tumors
	url = https://github.com/jordan2lee/classify-lab-models-and-tumors.git
