[submodule "hcmi-analysis-califano-lab"]
	path = hcmi-analysis-califano-lab
	url = https://github.com/califano-lab/hcmi-analysis-califano-lab.git
[submodule "pipelines/latent-tf-tumor-growth-distances"]
	path = pipelines/latent-tf-tumor-growth-distances
	url = https://github.com/jordan2lee/latent-tf-tumor-growth-distances.git

[submodule "pipelines/euclidean-tumor-growth-distance"]
	path = pipelines/euclidean-tumor-growth-distance
	url = https://github.com/jordan2lee/euclidean-tumor-growth-distance.git

[submodule "pipelines/classify-lab-models-and-tumors"]
	path = pipelines/classify-lab-models-and-tumors
	url = https://github.com/jordan2lee/classify-lab-models-and-tumors.git

[submodule "pipelines/driver-concordance"]
	path = pipelines/driver-concordance
	url = https://github.com/shahcompbio/driver-concordance.git
[submodule "platforms/HCMI-Explorer-Suite"]
	path = platforms/HCMI-Explorer-Suite
	url = https://github.com/human-cancer-model-initiative/HCMI-Explorer-Suite.git
	branch = main
[submodule "pipelines/HCMI_OncoMatch"]
	path = pipelines/HCMI_OncoMatch
	url = https://github.com/califano-lab/HCMI_OncoMatch.git
[submodule "scripts/analyses/HCMI-single-nuclei"]
	path = scripts/analyses/HCMI-single-nuclei
	url = https://github.com/califano-lab/HCMI-single-nuclei.git
